{% extends 'admin_base.html'%}


{% block title %}
   Book Requests
{% endblock %}


{% block content %}

<h2 style="text-align: center;">Book Requests</h2>


<table class="table">
   <thead>
      <tr>
         <!-- <th>Request Id</th> -->
         <th>Username</th>
         <th>Book Name</th>
         <th>Request Date</th>
         <th>Return Date </th>
         <th> Status </th>
         <th> Action </th>
         
      </tr>
   </thead>

   <tbody>
      {% for req in book_requests %}
      <tr>
         <!-- <td>{{req.id}}</td> -->
         <td>{{req.user_name}}</td>
         <td>{{req.book_name}}</td>
         <td>{{req.request_date}}</td>
         <td>{{req.return_date}}</td>
         <td>{{req.status}}</td>
         <td>
            <a href="{{url_for('book_accept', status='accepted', id=req.id)}}" class="btn btn-outline-success">Accept</a><br><br>
            <a href="{{url_for('book_reject', status='rejected', id=req.id)}}" class="btn btn-outline-danger">Decline</a>

         </td>
        
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock%}