{% extends 'admin_base.html'%}


{% block title %}
   Home
{% endblock %}


{% block content %}

<h1></h1>

<h4> Welcome, Library Admin! </h4>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;">
   As the administrator of our library management system, you play a crucial role in ensuring smooth operations and providing a seamless experience for our users. Manage your library effectively with our comprehensive suite of tools and features.
</p>

   <p><h4>Key Features:</h4></p>
   
   <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;"><h6>Manage Books:</h6> Add, edit, and delete books from the library catalog. Keep track of book details such as title, author, genre, and availability status.</p> 
   <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;"><h6>Manage Users:</h6> Maintain user accounts, review registration requests, and manage user privileges. Ensure a secure and user-friendly experience for all library patrons.</p>
   
   <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;"><h6>Book Issuance:</h6> Process book issuance requests, track issued books, and manage due dates and returns. Keep a record of books borrowe by users for efficient library management.</p>
    
   <p style="font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;"><h6>Request Management:</h6>Review and approve book requests from users. Monitor pending requests and ensure timely fulfillment to enhance user satisfaction.</p>
    



   <div class="table">
      <table>
      <h2>Statistics</h2>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>Total Books</td>
        <td>{{ books | length }}</td>
      </tr>
      <tr>
        <td>Total Sections</td>
        <td>{{ sections | length }}</td>
      </tr>
      <tr>
        <td>Total Books Issued</td>
        {% set accepted_book_issues = [] %}
         {% for issue in book_issues %}
            {% if issue.approved == 'Accepted' %}
               {% set _ = accepted_book_issues.append(issue) %}
            {% endif %}
         {% endfor %}
        <td>{{ accepted_book_issues | length }}</td>
      </tr>
      <tr>
        <td>Current Requests</td>
        <td>{{ book_requests | length }}</td>
      </tr>
      
    </table></div>




{% endblock%}
 
