{% extends 'user_base.html' %}

{% block title %}
    Book Request
{% endblock %}

{% block content %}

<h1></h1>

<div class="form-group">
    <form action="" method="post" class="form">
        
    
        <label for="user_name" class="form-label">User Name: </label><br>
        <input type="text" id="user_name" name="user_name" value="{{user.username}}" required class="form-control" readonly><br>

        <label for="book_name" class="form-label">Book Name:</label><br>
        <input type="text" id="book_name" name="book_name" value="{{book.name}}" required class="form-control" readonly><br>

        <label for="request_date" class="form-label">Request Date:</label><br>
        <input type="date" id="request_date" name="request_date" required class="form-control"><br><br>

        <label for="return_date" class="form-label">Return Date:</label><br>
        <input type="date" id="return_date" name="return_date" required class="form-control"><br><br>


        <button type="submit" class="btn btn-success">
            Request Book
        </button>
    </form>
</div>

{% endblock %}
