



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group" >
                    <select name="params" id="params" class="params" class="form-select">
                        <option value="book_name">Book</option>
                        <option value="section_name">Section</option>
                        <option value="author_name">Author</option>
                    </select>
                
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="search for books, authors, sections">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </span>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>