{% extends 'user_base.html'%}


{% block title %}
   Your Books
{% endblock %}


{% block content %}




<h2 style="text-align: center;">Book Issued</h2>


<table class="table">
   <thead>
      <tr>
         
         <th>Book Name</th>
         <th>Authors</th>
         <th>Request Date</th>
         <th>Return Date </th>
         <th> Status </th>
         <th>Read</th>
         <th>Return</th>
         <th>Feedback</th>
         
         
      </tr>
   </thead>

   <tbody>
      {% for req in book_issue %}
      <tr>
        {% if req.approved == "Accepted" %}
         
         <td>{{req.book_name}}</td>
         <td>{{req.book_author}}</td>
         <td>{{req.issue_date}}</td>
         <td>{{req.return_date}}</td>
         <td>{{req.approved}}</td>


         <td><a href="{{url_for('get_book_content',name=req.book_name)}}" class="btn btn-outline-primary">Read</a></td>
         <td><a href="{{url_for('user_book_return', id=req.id)}}" class="btn btn-outline-danger">Return</a></td>
         <td><a href="{{url_for('feedback', id=req.id)}}" class="btn btn-outline-secondary">Feedback</a></td>

         
          
         {% endif %}
         
       
         
        
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock%}