{% extends 'admin_base.html'%}

{% block title %}
    Add Section

{% endblock %}


{% block content %}
<h2>Add Section</h2>
<div>
    
    <form action="" method="post" class="form">
        <div class="form-group">
            <label for="name" class="form-label">Section Name:</label>
            <input type="text" name="name" id="name" required class="form-control">

        </div>
        
        <div class="form-group">
            <label for="date_created" class="form-label">Date Created :</label>
            <input type="date" name="date_created" id="date_created" required class="form-control">
        </div>

    
        <div class="form-group">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter your description here" class="form-control"></textarea><br><br>
        </div>
    

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>

        </div>
        

</form>

</div>



{% endblock %}